* {
    outline: 1px solid red !important;
}
 
* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
} 

.title {
    background-color: #33bebe;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-top: 20px;
}

.app {
    display: -webkit-flex;
    display: flex;
}

.screenshot {
     max-width: 460px;
     margin-right: 20px;
 }
.description {
    max-width: 705px;
    font-style: normal;
}
